$dark-color: #343a40;
$main-white-color: #ffffff;
$info-color: #17a2b8;
$success-color: #28a745;
$primary-color: #007bff;
$danger-color: #dc3545;
$warning-color: #ffc107;
$light-grey-color: #f8f9fa;
$border-color: #dee2e6;

$desktop: 1200px;
$mobile: 768px;
$mobile-small: 565px;
